<!-- Page content-->
{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">New Client</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        List Clients
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Active</a></li>
                        <li><a class="dropdown-item" href="#">Inactive</a></li>
                        <li><a class="dropdown-item" href="#">Dormant</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Accounts Receivables</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Summary</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <table class="table-hover table-bordered table-sm small table">
        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
        <thead class="table-primary text-center">
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Category</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Industry</th>
                <th scope="col">Address</th>
                <th scope="col">Country</th>
            </tr>
        </thead>
        {% for client in clients %}
        <tr>
            <td style="font-weight: bold;"><a href="#">{{client.client_name}}</a>
            </td>
            <td style="font-weight: bold;">{{ client.category }}</td>
            <td style="font-weight: bold;">{{ client.email }}</td>
            <td style="font-weight: bold;">{{ client.mobile }}</td>
            <td style="font-weight: bold;">{{ client.industry }}</td>
            <td style="font-weight: bold;">{{ client.address }}</td>
            <td style="font-weight: bold;">{{ client.country }}</td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}